<TABLE border="1" style="border: 1px solid #000000; border-collapse: collapse;" cellpadding="4">
 <TR>
  <TH>Title</TH>
  <TH>Company</TH>
  <TH>Location</TH>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/696142">Associate Client Support Specialist</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1168952">Associate Client Support Specialist, 2018 University Graduate</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1068069">Platform Manager</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1071843">Client Support Specialist, EMEA</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Berlin, Germany</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1071814">Platform Manager</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Berlin, Germany</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1167418">Senior Manager, Demand Generation</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/877119">Director, Data Partnerships </a></TD>
  <TD>Yext</TD>
  <TD><span class="location">San Francisco, CA</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1001144">Product Marketing Manager</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/967542">Senior Software Engineer </a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/967495">Software Engineer</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/967561">Software Engineering Manager</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1183822">Associate Product Manager</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1163348">Front End Developer</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Tysons Corner, VA</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1050576">Software Engineer, Consulting</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Tysons Corner, VA</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1114639">Accounts Receivable Analyst</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">San Francisco, CA</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/659531">Contract Review and Collections Specialist - International</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Geneva, Switzerland</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1075311">Director of Commissions</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/961024">Director, Revenue Accounting</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1075286">Payroll Manager</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/949320">Revenue Accountant</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1117974">Senior Accountant</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1128719">Financial Analyst</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1149022">Salesforce Administrator</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1029514">Director, Tax</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">San Francisco, CA</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1124161">Director, Partner Sales</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Tokyo, Japan</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1088454">Client Success Manager, International Partnerships</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Berlin, Germany</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1124061">Director, Marketing</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Tokyo, Japan</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1003895">Director, Enterprise Sales</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Berlin, Germany</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/871437">Senior Account Executive, Enterprise Sales</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">London, UK</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1005566">Director, Enterprise Sales</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Madrid, Spain</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/956052">Executive Assistant</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Paris, France</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/997662">Director, Enterprise Sales</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Tokyo, Japan</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/957687">Senior Account Manager, Enterprise</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Berlin, Germany</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1005779">Account Manager, Enterprise</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Paris, France</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/868248">Account Manager, Enterprise</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">London, UK</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1036385">Account Manager, Enterprise</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">London, UK</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1022774">Senior Account Manager, Enterprise</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">London, UK</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1052534">Account Manager, Enterprise</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Milan, Italy</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/644034">Account Executive, Mid-Market Sales</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/871509">Account Executive, Mid-Market Sales</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">London, UK</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1003912">Account Executive, Mid-Market Sales</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">San Francisco, CA</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1095735">RVP, Mid-Market Sales</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1051161">RVP, Mid-Market Sales</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">London, UK</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/868286">Account Manager, Mid-Market</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">London, UK</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1007629">Sales Engineer</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Berlin, Germany</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/903898">Sales Engineer</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Paris, France</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/903865">Senior Sales Engineer</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Paris, France</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1139798">Account Executive, Enterprise Sales </a></TD>
  <TD>Yext</TD>
  <TD><span class="location">San Francisco, CA</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/883224">Director, Enterprise Sales</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1143613">Director, Enterprise Sales</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Chicago, IL</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/890379">Director, Enterprise Sales </a></TD>
  <TD>Yext</TD>
  <TD><span class="location">London, UK</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/890365">Director, Enterprise Sales </a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Austin, TX</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/890352">Director, Enterprise Sales </a></TD>
  <TD>Yext</TD>
  <TD><span class="location">San Francisco, CA</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1120627">Executive Assistant</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1114744">RVP, Enterprise Sales - Financial Services </a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/890338">Senior Account Executive, Enterprise Sales</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">Chicago, IL </span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/890324">Senior Account Executive, Enterprise Sales</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">San Francisco, CA</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1163951">Senior Director, Enterprise Sales</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/892462">Senior Director, Enterprise Sales - Financial Services</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1094180">Senior Director, Enterprise Sales - Financial Services</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">San Francisco, CA</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1159345">Business Development Representative	</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1071145">Business Development Representative	</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">San Francisco, CA</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1116985">Sales Development Representative</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">San Francisco, CA</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/644170">Sales Development Representative</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1164120">Senior Director, Strategic Partnerships</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1141456">Client Success Director, Enterprise</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1141522">Senior Account Manager, Enterprise </a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1154310">Senior Client Success Director, Enterprise </a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/1128454">Senior Project Manager, Enterprise Program Management Office</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/648659">Client Success Manager, Partner</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">New York, NY</span></TD>
 </TR>
 <TR>
  <TD><a data-mapped="true" href="https://boards.greenhouse.io/yext/jobs/657947">General Referral</a></TD>
  <TD>Yext</TD>
  <TD><span class="location">All Locations</span></TD>
 </TR>
</TABLE>